<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration debug="true" scan="true">
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <File>
      d:/logs/cuco/cuco.log
    </File>
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="ch.qos.logback.classic.PatternLayout">
        <Pattern>
          %-30(%date{ISO8601} [%thread]) %-5level %X{user} %logger{35} - %msg%n
        </Pattern>
      </layout>
    </encoder>
  </appender>

  <appender name="GWT-LOGFILE" class="ch.qos.logback.core.FileAppender">
    <File>
      d:/logs/cuco/client.log
    </File>
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="ch.qos.logback.classic.PatternLayout">
        <Pattern>
          %-30(%date{ISO8601} [%thread]) %-5level %X{user} %logger{35} - %msg%n
        </Pattern>
      </layout>
    </encoder>
  </appender>

  <appender name="SQL" class="ch.qos.logback.core.FileAppender">
    <File>
      d:/logs/cuco/sql.log
    </File>
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="ch.qos.logback.classic.PatternLayout">
        <Pattern>
          %-30(%date{ISO8601} [%thread]) %-5level %X{user} %logger{35} - %msg%n
        </Pattern>
      </layout>
    </encoder>
  </appender>

  <appender name="MAILINGS" class="ch.qos.logback.core.FileAppender">
    <File>
      d:/logs/cuco/mailings.log
    </File>
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="ch.qos.logback.classic.PatternLayout">
        <Pattern>
          %date{ISO8601} %X{user} %msg%n
        </Pattern>
      </layout>
    </encoder>
  </appender>

  <appender name="INVOICEDOWNLOADS" class="ch.qos.logback.core.FileAppender">
    <File>
      d:/logs/cuco/invoiceaudit.log
    </File>
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="ch.qos.logback.classic.PatternLayout">
        <Pattern>
          %date{ISO8601} [%thread] %-5level %X{user} - %msg%n
        </Pattern>
      </layout>
    </encoder>
  </appender>
  
   <appender name="INVOICEPERFORMANCE" class="ch.qos.logback.core.FileAppender">
    <File>
      d:/logs/cuco/invoiceperformance.log
    </File>
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="ch.qos.logback.classic.PatternLayout">
        <Pattern>
          %date{ISO8601} [%thread] %-5level %X{user} - %msg%n
        </Pattern>
      </layout>
    </encoder>
  </appender>

  <appender name="TRACKING" class="ch.qos.logback.core.FileAppender">
    <File>
      d:/logs/cuco/tracking.log
    </File>
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="at.a1ta.bite.commons.logging.BiteLogEventLayout" />
    </encoder>
  </appender>

  <appender name="APPLICATION" class="ch.qos.logback.core.FileAppender">
    <File>
      d:/logs/cuco/application.log
    </File>
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="at.a1ta.bite.commons.logging.BiteLogEventLayout" />
    </encoder>
  </appender>

  <appender name="REPORTING" class="ch.qos.logback.core.FileAppender">
    <File>
      d:/logs/cuco/reporting.log
    </File>
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="at.a1ta.bite.commons.logging.BiteLogEventLayout" />
    </encoder>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>
        %date{ISO8601} [%thread] %-5level %X{user} %class - %msg%n
      </pattern>
    </layout>
  </appender>

  <appender name="AUDITLOG" class="at.a1ta.bite.audit.core.RollingFileAuditAppender">
    <!-- encoder is optional if not specified default layout will be used -->
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="at.a1ta.bite.audit.core.AuditEventLayout" />
    </encoder>

    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover for local testing -->
      <fileNamePattern>
        d:/logs/cuco/audit.%d{yyyy-MM-dd}.log
      </fileNamePattern>
      <maxHistory>
        30
      </maxHistory>
    </rollingPolicy>
  </appender>

  <appender name="esb" class="ch.qos.logback.core.FileAppender">
    <File>d:/logs/cuco/esb/esb.log</File>
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="ch.qos.logback.classic.PatternLayout">
        <Pattern>%-30(%date{ISO8601} [%thread]) %-5level %X{user} %logger{35} - %msg%n</Pattern>
      </layout>
    </encoder>
  </appender>

 <appender name="GAMIFICATION" class="ch.qos.logback.core.FileAppender">
    <File>d:/logs/cuco/esb/gamification.log</File>
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="ch.qos.logback.classic.PatternLayout">
        <Pattern>%-30(%date{ISO8601} [%thread]) %-5level %X{user} %logger{35} - %msg%n</Pattern>
      </layout>
    </encoder>
  </appender>

  <appender name="CUSCO-DUPOS" class="ch.qos.logback.core.FileAppender">
    <File>
      d:/logs/cuco/cusco-dupos.log
    </File>
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="ch.qos.logback.classic.PatternLayout">
        <Pattern>
          %date{ISO8601} [%thread] %-5level %X{user} - %msg%n
        </Pattern>
      </layout>
    </encoder>
  </appender>
  
    <appender name="KUMS-SKZ" class="ch.qos.logback.core.FileAppender">
    <File>
      d:/logs/cuco/kumsSkzShops.log
    </File>
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="ch.qos.logback.classic.PatternLayout">
        <Pattern>
          %date{ISO8601} [%thread] %-5level %X{user} - %msg%n
        </Pattern>
      </layout>
    </encoder>
  </appender>

  <appender name="DefaultCorporateDirectorySynchronizationService" class="ch.qos.logback.core.FileAppender">
    <File>d:/logs/cuco/corporate-directory-synchronization.log</File>
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="ch.qos.logback.classic.PatternLayout">
        <Pattern>
          %-30(%date{ISO8601} [%thread]) %-5level %X{user} %logger{35} - %msg%n
        </Pattern>
      </layout>
    </encoder>
  </appender>

  <logger name="at.a1ta.bite.core.server.service.DefaultCorporateDirectorySynchronizationService" level="DEBUG">
    <appender-ref ref="DefaultCorporateDirectorySynchronizationService" />
  </logger>

  <logger name="at.a1ta.cuco.core.service.impl.CustomerUnlockServiceImpl" level="DEBUG">
    <appender-ref ref="CUSCO-DUPOS" />
  </logger>

  <logger name="esb" level="DEBUG" additivity="false">
    <appender-ref ref="esb" />
  </logger>

  <logger name="bite-tracking" level="DEBUG" additivity="false">
    <appender-ref ref="TRACKING" />
  </logger>
  <logger name="bite-application" level="DEBUG" additivity="false">
    <appender-ref ref="APPLICATION" />
  </logger>
  <logger name="bite-reporting" level="DEBUG" additivity="false">
    <appender-ref ref="REPORTING" />
  </logger>


  <logger name="mailings" level="DEBUG" additivity="false">
    <appender-ref ref="MAILINGS" />
  </logger>
  
  <logger name="GAMIFICATION" level="INFO" additivity="false">
    <appender-ref ref="GAMIFICATION" />
  </logger>

  <logger name="invoicedownloads" level="DEBUG" additivity="false">
    <appender-ref ref="INVOICEDOWNLOADS" />
  </logger>
  
  <logger name="invoiceperformance" level="DEBUG" additivity="false">
    <appender-ref ref="INVOICEPERFORMANCE" />
  </logger>

  <logger name="jdbc.sqltiming" level="DEBUG" additivity="false">
    <appender-ref ref="SQL" />
  </logger>

  <logger name="gwt-log" level="WARN" additivity="false">
    <appender-ref ref="GWT-LOGFILE" />
  </logger>
  
  <logger name="at.a1ta.bite.core.server.service.DefaultKumsCommonService" level="TRACE" additivity="false">
    <appender-ref ref="KUMS-SKZ" />
  </logger>
  
  <logger name="at.a1ta.bite.core.server.dao.DefaultKumsSkzShopDao" level="TRACE" additivity="false">
    <appender-ref ref="KUMS-SKZ" />
  </logger>

  <!-- <logger name="at.telekom" level="DEBUG" /> -->
  <!-- <logger name="at.a1ta" level="DEBUG" /> -->
  <!-- <logger name="com.mchange" level="DEBUG" /> -->
  <!-- <logger name="java.sql" level="DEBUG" /> -->
  <!-- <logger name="com.ibatis" level="DEBUG" /> -->
  <logger name="net.sf.ehcache" level="DEBUG" />
  <logger name="net.sf.ehcache.Cache" level="INFO" />
  <logger name="net.sf.ehcache.CacheManager" level="INFO" />
  <logger name="org.apache.activemq" level="INFO" />
  <logger name="jdbc" level="FATAL" additivity="false" />
  <logger name="pwuauth" level="DEBUG"/>

  <logger name="AUDIT" level="INFO" additivity="false">
    <appender-ref ref="AUDITLOG" />
  </logger>

  <root>
    <level value="INFO" />
  <appender-ref ref="STDOUT" /> 
    <appender-ref ref="FILE" />
     <appender-ref ref="SQL" />
  </root>
</configuration>
