# Vendor directories
vendor/
venv/
node_modules/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
dist/
*.egg-info/

# Environment files
.env.*
*.env
.env.local
.env.*.local
# Note: .env is NOT ignored (keep it in git)

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
*.log
logs/
log/

# Temporary files
*.tmp
*.temp
.cache/ 
data/chroma*
clever*
data/*
*.venv*
logs/*
output*
*weaviate*
weaviate-data/
weaviate-data/javacodechunks/zqVBBGrXLdCS/indexcount
weaviate-data/javacodechunks/zqVBBGrXLdCS/indexcount
weaviate-data/javacodechunks/zqVBBGrXLdCS/proplengths
weaviate-data/javacodechunks/zqVBBGrXLdCS/main.hnsw.commitlog.d/1759321856

# generated vector DB
weaviate-data/

# Shell scripts
*.sh
