# Component: {{ component.name }}

**Type:** {{ component.type }}
**Path:** {{ component.path }}

{% if component.documentation %}
## Documentation
{{ component.documentation }}
{% endif %}

{% if component.modifiers %}
## Modifiers
{{ component.modifiers | join(', ') }}
{% endif %}

{% if component.parameters %}
## Parameters
{% for param in component.parameters %}
- {{ param.type }} {{ param.name }}
{% endfor %}
{% endif %}

{% if component.return_type %}
## Return Type
{{ component.return_type }}
{% endif %}

{% if component.children %}
## Children
{{ component.children | join(', ') }}
{% endif %}

{% if component.dependencies %}
## Dependencies
{{ component.dependencies | join(', ') }}
{% endif %}

{% if component.agent_interactions %}
## Agent Interactions
{% for interaction in component.agent_interactions %}
- {{ interaction }}
{% endfor %}
{% endif %}

{% if component.embedding_requirements %}
## Embedding Requirements
{% for req in component.embedding_requirements %}
- {{ req }}
{% endfor %}
{% endif %} 