<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <bean id="dataSourceBC" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close" lazy-init="false">
      <property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver" />
      <property name="url" value="jdbc:sqlserver://${bc.host};databaseName=${bc.dbname}" />
      <property name="username" value="${bc.username}" />
      <property name="password" value="${bc.password}" />
      <property name="maxIdle" value="600" />
    </bean>

    <bean id="sqlMapClientBC" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
      <property name="configLocation" value="classpath:/at/a1ta/cuco/core/dao/billingcycle/sqlmap-config-bc.xml" />
      <property name="dataSource"><ref local="dataSourceBC" /></property>
    </bean>

    <bean id="billingCycleDao" class="at.a1ta.cuco.core.dao.billingcycle.DefaultBillingCycleDao">
        <property name="sqlMapClient" ref="sqlMapClientBC" />
    </bean>

</beans>
