<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>
<configuration debug="true" scan="true">
  <jmxConfigurator />

       <turboFilter 
           class="ch.qos.logback.classic.turbo.DuplicateMessageFilter">
         <AllowedRepetitions>5</AllowedRepetitions>
      </turboFilter>
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${logback.file.path}</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${logback.file.path}%d{yyyy-MM-dd}</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
      <evaluator>        
        <expression>return throwable instanceof net.sf.ehcache.distribution.jms.InvalidJMSMessageException;</expression>
      </evaluator>
      <OnMismatch>NEUTRAL</OnMismatch>
      <OnMatch>DENY</OnMatch>
    </filter>
    <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
      <evaluator>
        <expression>return message.contains("ORA-00936: missing expression");</expression>
      </evaluator>
      <OnMismatch>NEUTRAL</OnMismatch>
      <OnMatch>DENY</OnMatch>
    </filter>
    <encoder>
      <pattern>%-30(%date{ISO8601} [%thread]) %-5level %X{user} %logger{35} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="GWT-LOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${logback.gwtlog.path}</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${logback.gwtlog.path}%d{yyyy-MM-dd}</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%-30(%date{ISO8601} [%thread]) %-5level %X{user} %logger{35} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="SQL" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${logback.sql.path}</File>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${logback.sql.path}%d{yyyy-MM-dd}</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%-30(%date{ISO8601} [%thread]) %-5level %X{user} %logger{35} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="MAILINGS" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${logback.mailings.path}</File>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${logback.mailings.path}%d{yyyy-MM-dd}</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%-30(%date{ISO8601} [%thread]) %-5level %X{user} %logger{35} - %msg%n</pattern>
    </encoder>
  </appender>
  
  <appender name="GAMIFICATION" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${logback.gamification.path}</File>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${logback.gamification.path}%d{yyyy-MM-dd}</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%-30(%date{ISO8601} [%thread]) %-5level %X{user} %logger{35} - %msg%n</pattern>
    </encoder>
  </appender>
  
  <appender name="INVOICEDOWNLOADS" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${logback.invoiceaudit.path}</File>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${logback.invoiceaudit.path}%d{yyyy-MM-dd}</fileNamePattern>
    </rollingPolicy>
    <encoder>
      <pattern>%-30(%date{ISO8601} [%thread]) %-5level %X{user} %logger{35} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="INVOICEPERFORMANCE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${logback.invoiceperformance.path}</File>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${logback.invoiceperformance.path}%d{yyyy-MM-dd}</fileNamePattern>
    </rollingPolicy>
    <encoder>
      <pattern>%-30(%date{ISO8601} [%thread]) %-5level %X{user} %logger{35} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="TRACKING" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${logback.tracking.path}</File>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${logback.tracking.path}%d{yyyy-MM-dd}</fileNamePattern>
    </rollingPolicy>
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="at.a1ta.bite.commons.logging.BiteLogEventLayout" />
    </encoder>
  </appender>

  <appender name="APPLICATION" class="ch.qos.logback.core.FileAppender">
    <File>${logback.application.path}</File>
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="at.a1ta.bite.commons.logging.BiteLogEventLayout" />
    </encoder>
  </appender>

  <appender name="REPORTING" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${logback.reporting.path}.%d{yyyy-MM-dd}.log</fileNamePattern>
    </rollingPolicy>
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="at.a1ta.bite.commons.logging.BiteLogEventLayout" />
    </encoder>
  </appender>

  <appender name="AUDITLOG" class="at.a1ta.bite.audit.core.RollingFileAuditAppender">
    <!-- encoder is optional if not specified default layout will be used -->
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="at.a1ta.bite.audit.core.AuditEventLayout" />
    </encoder>

    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover for local testing -->
      <fileNamePattern>${logback.audit.path}.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
  </appender>

  <appender name="esb" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${logback.esb.path}/esb.log</File>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${logback.esb.path}/esb.%d{yyyy-MM-dd}.log</fileNamePattern>
    </rollingPolicy>
    <encoder>
      <pattern>%-30(%date{ISO8601} [%thread]) %-5level %X{user} %logger{35} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="CUSCO-DUPOS" class="ch.qos.logback.core.FileAppender">
    <File>${logback.cusco-dupos.path}</File>
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="ch.qos.logback.classic.PatternLayout">
        <Pattern>
          %date{ISO8601} [%thread] %-5level %X{user} - %msg%n
        </Pattern>
      </layout>
    </encoder>
  </appender>

  <appender name="KUMS-SKZ" class="ch.qos.logback.core.FileAppender">
    <File>${logback.kumsSkz.path}</File>
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="ch.qos.logback.classic.PatternLayout">
        <Pattern>
          %date{ISO8601} [%thread] %-5level %X{user} - %msg%n
        </Pattern>
      </layout>
    </encoder>
  </appender>

  <appender name="LDAPSYNC" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${logback.ldapsync.path}</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${logback.ldapsync.path}%d{yyyy-MM-dd}</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%-30(%date{ISO8601} [%thread]) %-5level %X{user} %logger{35} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="PWUAUTH" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${logback.pwuauth.path}</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${logback.pwuauth.path}%d{yyyy-MM-dd}</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%-30(%date{ISO8601} [%thread]) %-5level %X{ip} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="at.a1ta.bite.core.server.service.DefaultCorporateDirectorySynchronizationService" level="DEBUG" additivity="false">
    <appender-ref ref="LDAPSYNC" />
  </logger>

  <logger name="at.a1ta.cuco.core.service.impl.CustomerUnlockServiceImpl" level="DEBUG" additivity="false">
    <appender-ref ref="CUSCO-DUPOS" />
  </logger>

  <logger name="esb" level="DEBUG" additivity="false">
    <appender-ref ref="esb" />
  </logger>

  <logger name="bite-tracking" level="DEBUG" additivity="false">
    <appender-ref ref="TRACKING" />
  </logger>
  <logger name="bite-application" level="DEBUG" additivity="false">
    <appender-ref ref="APPLICATION" />
  </logger>
  <logger name="bite-reporting" level="DEBUG" additivity="false">
    <appender-ref ref="REPORTING" />
  </logger>

  <logger name="mailings" level="DEBUG" additivity="false">
    <appender-ref ref="MAILINGS" />
  </logger>

  <logger name="GAMIFICATION" level="INFO" additivity="false">
    <appender-ref ref="GAMIFICATION" />
  </logger>
  <logger name="invoicedownloads" level="DEBUG" additivity="false">
    <appender-ref ref="INVOICEDOWNLOADS" />
  </logger>

  <logger name="invoiceperformance" level="DEBUG" additivity="false">
    <appender-ref ref="INVOICEPERFORMANCE" />
  </logger>

  <logger name="jdbc.sqltiming" level="WARN" additivity="false">
    <appender-ref ref="SQL" />
  </logger>
  <logger name="jdbc" level="ERROR" additivity="false" >
    <appender-ref ref="SQL" />
  </logger>
  <logger name="gwt-log" level="ERROR" additivity="false">
    <appender-ref ref="GWT-LOGFILE" />
  </logger>

  <logger name="pwuauth" level="debug" additivity="false">
    <appender-ref ref="PWUAUTH" />
  </logger>

  <logger name="at.a1ta.pkb.service.customerinteraction.CustomerInteractionSender" level="ERROR" />

  <logger name="AUDIT" level="INFO" additivity="false">
    <appender-ref ref="AUDITLOG" />
  </logger>

  <logger name="at.a1ta.bite.core.server.service.DefaultKumsCommonService" level="TRACE" additivity="false">
    <appender-ref ref="KUMS-SKZ" />
  </logger>

  <logger name="at.a1ta.bite.core.server.dao.DefaultKumsSkzShopDao" level="TRACE" additivity="false">
    <appender-ref ref="KUMS-SKZ" />
  </logger>

  <root>
    <level value="INFO" />
    <appender-ref ref="FILE" />
  </root>
</configuration>
